__pycache__/

# model checkpoints
*ckps/

# any backup files
*.bak/

# log files
*logs/

# tmp files
tmp/

# processed data
proc_data/

.streamlit/
.ipynb_checkpoints

# images to predict
./images

# predicted masks
./masks
